@import 'variables/color';
@import 'components/mixins';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600|Playfair+Display:400,700');


html,
body {
    overflow: hidden;
    font-family: 'Titillium Web', serif;
    //font-family: 'Nexa';
    //font-weight: 300;
    //font-style: normal;
}
h1,h2,h3,h4,h5{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    //font-family: 'Nexa';
    //font-weight: bold;
    //font-style: normal;
}
main.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: $primary-bg-color;
    top: 0;
    left: 0;
    overflow: hidden;
    .pages {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .page {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            z-index: -1;
            &.page-current {
                visibility: visible;
                z-index: 4;
            }
            &:nth-child(odd) {
                background-color: $secondary-bg-color;
            }
            &:nth-child(even) {
                background-color: $primary-bg-color;
            }
            .page-components-container {
                position: relative;
                width: 100%;
                height: 100%;
                margin: 0 auto;
                @include box-sizing(border-box);
                #home-scene,
                #maps,
                #contact_area {
                    position: absolute;
                    background-color: $dark-bg-color;
                    width: 100%;
                    height: 100%;
                }
                #works_nav {
                    display: inline-block;
                    position: absolute;
                    top: 8%;
                    left: 3%;
                    z-index: 3;
                    ul {
                        list-style: none;
                        padding-left: 0;
                        // &:hover {
                        //     li:first-of-type {
                        //         @include transform(translateX(-8px));
                        //     }
                        //     li:last-of-type {
                        //         @include transform(translateX(8px));
                        //     }
                        // }
                        li {
                            // @include transition(transform 0.3s ease);
                            a {
                                display: inline-block;
                                background-color: $dark-bg-color;
                                padding: 8px 18px;
                                color: $primary-bg-color;
                                &:hover {
                                    @include animation((tubelight-background 0.5s linear 0.15s forwards, breathe-background 3s linear 1.5s infinite));
                                }
                            }
                        }
                        li:first-of-type {
                            border-bottom: 1px solid $secondary-bg-color;
                        }
                    }
                }
                #works_viewer {
                    position: absolute;
                    top: 0;
                    left: 33vw;
                    height: 100vh;
                }
                #works_detail {
                    font-family: "Source Sans Pro";
                    position: absolute;
                    width: 30vw;
                    height: 50vh;
                    background-color: rgba($dark-bg-color, 0.8);
                    bottom: 3%;
                    left: 3%;
                    border-left: 6px solid $theme-green;
                    color: $primary-bg-color;
                    @include box-sizing(border-box);
                    padding: 10px;
                    article {
                        position: absolute;
                        left: 0;
                        top: 0;
                        padding: 0 10px;
                        display: none;
                    }
                    h3 {
                        font-size: 2em;
                        margin: 10px 0;
                        color: $theme-green;
                        a {
                            color: $primary-bg-color;
                            margin-left: 8px;
                            display: inline-block;
                            position: relative;
                            top: 2px;
                            font-size: 0.7em;
                            &:hover {
                                @include animation((tubelight-light 0.5s linear 0.15s forwards, breathe-light 3s linear 1.5s infinite));
                            }
                        }
                    }
                    p {
                        font-size: 0.9em;
                        line-height: 1.5;
                        font-weight: 100;
                    }
                }
                #services_bg_wrapper {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transform: scale(1.05);
                    background-size: cover;
                    background: url('../../dist/img/services-website.jpg') no-repeat;
                    .bg_image {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        opacity: 0;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
                #green_overlay {
                    position: absolute;
                    left: -40%;
                    top: 0;
                    width: 40%;
                    height: 100%;
                    background-color: rgba($theme-green, 0.4);
                    opacity: 1;
                }
                #services_wrapper {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    text-align: center;
                    @include box-sizing(border-box);
                    .service_block {
                        position: absolute;
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        margin-bottom: 30px;
                        cursor: pointer;
                        left: 0%;
                        pointer-events: none;
                        span {
                            pointer-events: all;
                            position: absolute;
                            width: 200px;
                            svg {
                                pointer-events: none;
                            }
                        }
                        h3,
                        .details,
                        .close_service {
                            position: absolute;
                            visibility: hidden;
                            z-index: -2;
                            opacity: 0;
                            text-align: left;
                            color: $primary-bg-color;
                        }
                        h3 {
                            font-size: 3.2em;
                            left: 13%;
                            top: 50%;
                            width: 23%;
                        }
                        .details {
                            font-size: 1.3em;
                            line-height: 1.2;
                            left: 42.65%;
                            width: 33%;
                            top: 15%;
                            line-height: 1.5;
                            h4 {
                                margin: 8px 0;
                                font-size: 1.5em;
                            }
                            quote {
                                color: $theme-green;
                                text-align: center;
                                font-weight: bold;
                                display: block;
                                font-size: 1.2em;
                                margin: 0 8%;
                                padding: 8px 3%;
                                background-color: rgba($secondary-bg-color, 0.4);
                                @include box-sizing(border-box);
                                border-left: 4px solid rgba($theme-green, 1);
                            }
                            ul {
                                margin: 0;
                                li {
                                    padding: 8px 0;
                                    @include box-sizing(border-box);
                                }
                            }
                            span {
                                position: relative;
                                width: 100%;
                            }
                        }
                        .close_service {
                            position: absolute;
                            width: 60px;
                            height: 60px;
                            top: 16.65%;
                            right: 16.65%;
                            cursor: pointer;
                            pointer-events: all;
                            @include transform(rotate(45deg));
                            @include transition(transform 0.2s ease);
                            span {
                                position: absolute;
                                display: block;
                                background-color: $primary-bg-color;
                                height: 2px;
                                width: 100%;
                                top: 50%;
                                pointer-events: none;
                            }
                            span:first-of-type {
                                @include transform(rotate(90deg));
                                @include transform-origin(center);
                            }
                        }
                        // span {
                        //     >svg:hover {
                        //         .stroke {
                        //             @include animation( (tubelight-stroke 0.5s linear 0.15s forwards, breathe-stroke 3s linear 1.5s infinite));
                        //         }
                        //         .fill {
                        //             @include animation( (tubelight-fill 0.5s linear 0.15s forwards, breathe-fill 3s linear 1.5s infinite));
                        //         }
                        //     }
                        // }
                        &:nth-child(1) {
                            >span {
                                top: 15%;
                                left: 16.65%;
                            }
                        }
                        &:nth-child(2) {
                            >span {
                                top: 15%;
                                left: 41.625%;
                            }
                        }
                        &:nth-child(3) {
                            >span {
                                top: 15%;
                                left: 66.67%;
                            }
                        }
                        &:nth-child(4) {
                            >span {
                                top: 50%;
                                left: 16.65%;
                            }
                        }
                        &:nth-child(5) {
                            >span {
                                top: 50%;
                                left: 41.625%;
                            }
                        }
                        &:nth-child(6) {
                            >span {
                                top: 50%;
                                left: 66.67%;
                            }
                        }
                    }
                }
                #get_a_quote {
                    position: absolute;
                    display: inline-block;
                    top: 80%;
                    right: 10%;
                    background-color: $theme-green;
                    padding: 21px;
                    color: $primary-bg-color;
                    font-size: 1.3em;
                    font-weight: bold;
                    border: 4px solid $primary-bg-color;
                    @include border-radius(50%);
                    @include box-shadow(inset 0 0 8px rgba(0, 0, 0, .5));
                    cursor: pointer;
                }
                #quote_form {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $dark-bg-color;
                    top: 0px;
                    visibility: hidden;
                    z-index: -1;
                    opacity: 0;
                    #close_quote_form {
                        position: relative;
                        width: 60px;
                        height: 60px;
                        top: 2%;
                        right: 2%;
                        float: right;
                        cursor: pointer;
                        @include transform(rotate(45deg));
                        @include transition(transform 0.2s ease);
                        &:hover {
                            @include transform((rotate(45deg) scale(1.2)));
                            span {
                                @include animation( (tubelight-background 0.5s linear 0.15s forwards, breathe-background 3s linear 1.5s infinite));
                            }
                        }
                        span {
                            position: absolute;
                            display: block;
                            background-color: $secondary-bg-color;
                            height: 2px;
                            width: 100%;
                            top: 50%;
                        }
                        span:first-of-type {
                            @include transform(rotate(90deg));
                            @include transform-origin(center);
                        }
                    }
                    form {
                        position: absolute;
                        @include transform(translateY(-50%));
                        color: $primary-bg-color;
                        font-size: 2.5em;
                        top: 50%;
                        left: 45%;
                        margin: 0 -50% 0 auto;
                        transform: translate(-50%, -50%);
                        .group {
                            overflow: visible;
                            width: 100%;
                            text-align: center;
                            //label {
                            //    width: 100%;
                            //    font-size: 5rem;
                            //}
                            //select {
                            //    color: $theme-green;
                            //    border: none;
                            //    box-shadow: none;
                            //    background: transparent none;
                            //    -webkit-appearance: none;
                            //    cursor: pointer;
                            //    outline: none;
                            //    option {
                            //        box-shadow: none;
                            //        background: transparent none;
                            //        -webkit-appearance: none;
                            //        cursor: pointer;
                            //    }
                            //}
                            .btitle{
                                position: relative;
                                float: left;
                                text-align: right;
                                h1{
                                    font-size: 4vw;
                                }
                            }
                            .blist{
                                position : relative;
                                float: left;
                                text-align: left;
                            }
                            ul#featuresList{
                                position: absolute;
                                top:2.6vw;
                                visibility: inherit;
                                opacity: 0;
                                list-style:none;
                                font-size: 4vw;
                                text-align:left;
                                margin:0;
                                padding: 0 0 0 .5vw;
                                height : auto;
                                width: 34vw;
                                perspective: 400px;
                                li{
                                    /*   height: 48px; */
                                    position: absolute;
                                    margin-bottom: 10px;
                                }
                            }
                            a{
                                position: relative;
                                top: 2.6vw;
                                left: 35vw;
                                opacity:0;
                                font-size: 2vw;
                                color: #ffffff;
                                text-decoration: none;
                            }
                            a:hover{
                                color:#91e600;
                                text-shadow:0px 0px 10px #00ff00;
                            }
                            span {
                                position: absolute;
                                left: 14px;
                                top: 2.5vw;
                                font-size: 4vw;
                                color: #91e600;
                                text-shadow: 0 0 40px #0f0;
                                cursor: pointer;
                            }
                        }
                    }
                }
                #prices {
                    width: 100%;
                    height: 100%;
                    padding: 5% 5%;
                    background-image: url('../../dist/img/pricing-bg.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    @include box-sizing(border-box);
                    .price_block {
                        position: relative;
                        width: 24%;
                        float: left;
                        text-align: center;
                        cursor: pointer;
                        padding: 20px 0.4%;
                        min-height: 73vh;
                        @include linear-gradient(rgba($dark-bg-color,
                        0.0),
                        rgba($dark-bg-color,
                        0.0));
                        @include transition((background 0.5s ease,
                        transform 0.3s ease));
                        h3 {
                            color: lighten($dark-bg-color, 20%);
                            margin: 0;
                            font-size: 2em;
                            position: relative;
                            &:before {
                                position: absolute;
                                content: "";
                                height: 0.06em;
                                width: 50%;
                                background-color: #a7a7a7;
                                left: 50%;
                                bottom: -15px;
                                @include border-radius(5%);
                                @include transform( translateX(-50%));
                            }
                        }
                        p {
                            @include box-sizing(border-box);
                            padding: 0 15px;
                            min-height: 15px;
                            &:nth-of-type(odd) {
                                background-color: rgba($dark-bg-color, 0.05);
                            }
                            &.desc {
                                min-height: 40px;
                            }
                            &.price {
                                font-size: 3em;
                                font-weight: lighter;
                                color: $theme-green;
                                margin: 30px 0 0;
                                sup {
                                    font-size: 0.5em;
                                }
                            }
                            strong,
                            span {
                                display: block;
                                padding: 5px 0;
                            }
                        }
                        &:hover {
                            @include linear-gradient(rgba($dark-bg-color,
                            0.1),
                            rgba($dark-bg-color,
                            0.0));
                            @include transform(scale(1.02));
                            @include transition((background 0.8s ease,
                            transform 0.5s ease));
                            p {
                                &.price {
                                    color: darken($theme-green, 5%);
                                }
                                &:nth-of-type(odd) {
                                    background-color: rgba($theme-green, 0.15);
                                }
                            }
                        }
                    }
                    .price_block:last-of-type {
                        border-right: none;
                    }
                    .t_n_c {
                        width: 100%;
                        position: absolute;
                        @include transform(translateY(90vh));
                        p {
                            margin: 1px 0;
                            font-size: 0.8em;
                            strong {
                                color: rgba($theme-green, 1);
                            }
                        }
                    }
                }
                #address{
                    float: left;
                    position: relative;
                    top: 100px;
                    width: 20%;
                    font-family: "Roboto";
                    text-align: center;
                    padding: 0% 0 0;
                    line-height: 1.2;
                    font-size: 1em;
                    background: rgba(255, 255, 255, 0.74);
                    color: #4c4c4c;
                    address {
                        font-style: normal;
                    }
                    a {
                        text-decoration: none;
                        color: #4c4c4c;
                        display: block;
                        margin: 10px 0px;
                        i {
                            margin-right: 5px;
                        }
                    }
                    a {
                        &:hover {
                            @include animation( (tubelight 0.5s linear 0.15s forwards,
                            breathe-light 3s linear 1.5s infinite));
                        }
                    }
                }
                #maps {
                    height: 60%;
                }
                #contact_area {
                    top: 60%;
                    height: 100%;
                    padding: 0 10%;
                    font-family: "Roboto";
                    color: $primary-bg-color;
                    background: url('../../dist/img/contact-us.jpg') no-repeat center;
                    background-size: cover;
                    @include box-sizing(border-box);
                    @include box-shadow(0 -2px 5px rgba(0,
                    0,
                    0,
                    0.5));
                    #widgets{
                        position: relative;
                        top: 20px;
                    }
                    #social,
                    #social_feeds {
                        float: left;
                        position: relative;
                        width: 70%;
                        text-align: center;
                        padding: 6% 0 0;
                        line-height: 1.2;
                        font-size: 1em;
                        span {
                            font-weight: 800;
                            margin-bottom: 20px;
                            display: block;
                        }
                        a {
                            &:hover {
                                @include animation( (tubelight 0.5s linear 0.15s forwards,
                                breathe-light 3s linear 1.5s infinite));
                            }
                        }
                        div#instafeed{
                            width: 650px;
                            display: inline-block;
                            a{
                                /* padding: 5px 5px 1px 5px; */
                                margin: 4px;
                                /* border: 1px solid #e1e1e1; */
                                display: inline-block;
                                border-radius: 1px;
                                position: relative;
                            }
                            img{
                                width: 120px;
                                height: 120px;
                            }
                            .likes {
                                background: rgba(0,0,0,.3);
                                height: 100%;
                                font-family:sans-serif;
                                font-size:1em;
                                position:absolute;
                                color:#ffffff;
                                right:0;
                                top:0;
                                left:0;
                                opacity:0;
                                text-align:center;
                                line-height:1em;
                                text-shadow:0 1px rgba(0,0,0,0.5);
                                -webkit-font-smoothing:antialiased;
                                -webkit-transition: opacity 100ms ease;
                                -moz-transition: opacity 100ms ease;
                                -o-transition: opacity 100ms ease;
                                -ms-transition: opacity 100ms ease;
                                transition: opacity 100ms ease;
                            }
                            a:hover .likes {
                                opacity:1;
                            }
                        }
                    }
                    #social {
                        width:30%;
                        ul {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            li {
                                display: inline-block;
                                a {
                                    color: $primary-bg-color;
                                    margin: 10px 10px 0 0;
                                    i {
                                        margin-right: 0px;
                                        font-size: 3em;
                                    }
                                }
                            }
                        }
                    }
                    #contact_form_wrap {
                        width: 100%;
                        float: left;
                        h3 {
                            text-align: center;
                            font-size: 2em;
                        }
                        #contact_form {
                            input,
                            textarea {
                                background-color: rgba($form-input-bg, 0.7);
                                margin: 5px;
                                border: 1px solid rgba($form-input-bg, 0.7);
                                @include box-sizing(border-box);
                                padding: 10px 8px;
                                font-size: 1.2em;
                                outline: none;
                                float: left;
                                color: $primary-bg-color;
                                font-family: "Roboto";
                                @include transition((background-color 0.5s ease,
                                border-color 0.5s ease));
                                &:focus {
                                    border-color: rgba($theme-green, 0.7);
                                    background-color: rgba($form-input-bg, 0.9);
                                }
                            }
                            input {
                                width: 49%;
                            }
                            textarea {
                                width: 99%;
                                resize: none;
                            }
                            button {
                                position: relative;
                                width: 40%;
                                left: 30%;
                                background-color: $secondary-bg-color;
                                border: none;
                                color: $dark-bg-color;
                                margin: 10px 0.5% 0;
                                height: 55px;
                                outline: none;
                                text-transform: uppercase;
                                font-family: "Roboto";
                                font-weight: bold;
                                font-size: 1.2em;
                                cursor: pointer;
                                overflow: hidden;
                                @include box-shadow(0 0 5px 2px rgba(0,
                                0,
                                0,
                                0.3));
                                @include transition(( background-color 0.3s ease-in,
                                box-shadow 0.3s ease-in));
                                &:hover {
                                    color: $primary-bg-color;
                                    background-color: $theme-green;
                                    @include box-shadow(0 0 5px 2px rgba(0,
                                    0,
                                    0,
                                    0.5));
                                    i {
                                        @include animation(flyplane 0.4s ease-out forwards);
                                    }
                                }
                                i {
                                    position: relative;
                                    top: -2px;
                                    @include transform(rotate(45deg));
                                }
                            }
                        }
                    }
                }
            }
        }
        #about-us>.page-components-container {
            position: absolute;
            top: 0;
            padding: 15vh 20% 0;
            text-shadow: 0 3px 7px #1c5220;
            text-align: center;
            @include box-sizing(border-box);
            background: url('../../dist/img/about-us.jpg') no-repeat;
            background-size: cover;
            h1 {
                position: relative;
                font-size: 3em;
                color: rgba($theme-green, 1);
            }
            h3 {
                color: $primary-bg-color;
                position: relative;
                font-size: 2em;
                font-weight: lighter;
            }
            p {
                color: $primary-bg-color;
                position: relative;
                font-size: 1.5em;
                line-height: 1.5;
                &.contact-details {
                    margin-top: 10vh;
                    span{
                        color: #52b43c;
                    }
                }
            }
        }
        #works>.page-components-container {
            padding-top: 50px;
        }
        #services>.page-components-container {
            background-color: $dark-bg-color;
        }
    }
}

.header {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1100;
    .mainNav {
        width: 100%;
        height: 100%;
        .brand {
            width: 20%;
            height: 100%;
            float: left;
            .logo {
                position: relative;
                padding: 5px 50px 0;
                @include box-sizing(border-box);
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .navbar {
            position: relative;
            float: right;
            width: 80%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: $dark-bg-color;
            list-style: none;
            li {
                display: inline-block;
                width: 16%;
                height: 100%;
                text-align: center;
                &#active-marker {
                    position: absolute;
                    background-color: $theme-green;
                    height: 6px;
                }
                a {
                    position: relative;
                    color: $primary-text-color;
                    text-decoration: none;
                    width: 100%;
                    padding: 18px 0;
                    display: block;
                    text-transform: uppercase;
                    font-family: 'Source Sans Pro-SemiBold';
                    font-size: 0.9em;
                    z-index: 1100;
                }
            }
        }
    }
}

@import 'components/revealer';
@import 'components/animations';