$primary-bg-color: #FFFFFF;
$secondary-bg-color: #DEDEDE;
$secondary-bg-color-dark: #AEAEAE;
$dark-bg-color: #272727;
$primary-text-color: #FFFFFF;
$theme-green: #52b43c;
$form-input-bg :rgb(49, 49, 49);
$form-input-border:rgb(36, 82, 26);